<footer class="footer">
  

  <div class="footer-links">
    <div class="footer-column">
      <h3>Top Tutorials</h3>
      <ul>
        <li><a href="#">HTML Tutorial</a></li>
        <li><a href="#">CSS Tutorial</a></li>
        <li><a href="#">JavaScript Tutorial</a></li>
        <li><a href="#">How To Tutorial</a></li>
        <li><a href="#">SQL Tutorial</a></li>
        <li><a href="#">Python Tutorial</a></li>
        <li><a href="#">Bootstrap Tutorial</a></li>
        <li><a href="#">PHP Tutorial</a></li>
        <li><a href="#">Java Tutorial</a></li>
        <li><a href="#">C++ Tutorial</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Top References</h3>
      <ul>
        <li><a href="#">HTML Reference</a></li>
        <li><a href="#">CSS Reference</a></li>
        <li><a href="#">JavaScript Reference</a></li>
        <li><a href="#">SQL Reference</a></li>
        <li><a href="#">Python Reference</a></li>
        <li><a href="#">Bootstrap Reference</a></li>
        <li><a href="#">PHP Reference</a></li>
        <li><a href="#">Java Reference</a></li>
        <li><a href="#">Angular Reference</a></li>
        <li><a href="#">jQuery Reference</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Top Examples</h3>
      <ul>
        <li><a href="#">HTML Examples</a></li>
        <li><a href="#">CSS Examples</a></li>
        <li><a href="#">JavaScript Examples</a></li>
        <li><a href="#">How To Examples</a></li>
        <li><a href="#">SQL Examples</a></li>
        <li><a href="#">Python Examples</a></li>
        <li><a href="#">Bootstrap Examples</a></li>
        <li><a href="#">PHP Examples</a></li>
        <li><a href="#">Java Examples</a></li>
        <li><a href="#">jQuery Examples</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Get Certified</h3>
      <ul>
        <li><a href="#">HTML Certificate</a></li>
        <li><a href="#">CSS Certificate</a></li>
        <li><a href="#">JavaScript Certificate</a></li>
        <li><a href="#">Front End Certificate</a></li>
        <li><a href="#">SQL Certificate</a></li>
        <li><a href="#">Python Certificate</a></li>
        <li><a href="#">PHP Certificate</a></li>
        <li><a href="#">Java Certificate</a></li>
        <li><a href="#">C++ Certificate</a></li>
        <li><a href="#">XML Certificate</a></li>
      </ul>
    </div>
  </div>

  <!-- <div class="footer-top">
    <div class="footer-info">
      <p>&copy; 2025 RHS. All rights reserved.</p>
      <p>
        <a href="#">Privacy Policy</a> |
        <a href="#">Terms of Service</a> |
        <a href="#">PLUSSPACES</a> |
        <a href="#">GET CERTIFIED</a> |
        <a href="#">FOR TEACHERS</a> |
        <a href="#">FOR BUSINESS</a> |
        <a href="#">CONTACT US</a>
      </p>
    </div>
    <div class="footer-social">
      <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://x.com/" target="_blank" aria-label="X Twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div> -->


   <div class="footer-content">
    <p>&copy; 2025 RHS. All rights reserved.</p>
    <div class="footer-social">
      <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://x.com/" target="_blank" aria-label="X Twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
  <!-- <div class="footer-bottom">
    <p>FORUM | ABOUT | ACADEMY</p>
  </div>
</footer> -->
